header .header-topbar {
    background-color: #093085;
}

header .header-main .navigation .nav-links li .main-menu {
    text-transform: capitalize;
}
.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(1) {
    background-color: #eb1c74;
    width:20px;
    height:20px;
    border:0px;
}
.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(2) {
    background-color: #ff9e19;
    width:20px;
    height:20px;
    border:0px;
}
.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(3) {
    background-color: #3baf29;
    width:20px;
    height:20px;
    border:0px;
}
.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(4) {
    background-color: #0082cb;
    width:20px;
    height:20px;
    border:0px;
}
.slider-banner .owl-controls .owl-dots .owl-dot:nth-of-type(5) {
    background-color: #092f87;
    width:20px;
    height:20px;
    border:0px;
}
.slider-banner .owl-controls .owl-dots .owl-dot.active {
    border:2px solid white;
}

#floatingButton a {
    position: fixed;
    bottom: 20px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    z-index: 100;
    color: #2aacff;
    transition: all .5s ease-in-out;
    background-color:#0082cb; width:250px;right:65px;color:white;
}

video { 
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
  
}

li.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
li.accordion.active, li.accordion:hover {
    background-color: #ddd;
}
div.CustomPanel {
    padding: 0 18px;
    background-color: white;
    display: none;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}



